<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue CRUD Course</title>

    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
            integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css">

    <!-- <script src="https://unpkg.com/vue@3"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

</head>
<body>
    <div id="vue-app">
        <header>
            <div class="title">
                <h1>{{ navTitle }}</h1>
            </div>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                    <li>
                        <button v-on:click="toggleSearch">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="add-user-input">

                <input type="text" v-model="newUser" placeholder="Enter new user"></input>
                <input type="submit" value="Add User" v-on:click="addNewUser(newUser)"></input>
            </div>
            <div class="list-users">
                <h1>List of Users:</h1>
                <ul>
                    <li v-for="(user, index) in users" v-bind:style="{color: usersTextColor[index]}" v-bind:key="user">{{ index }}: {{ user }}</li>
                </ul>
            <h4>{{ numberOfUsersText }}</h4>
            </div>
            <div class="search-users" v-show="displaySearch">
                <h1 v-bind:class="searchTextClass">Search Users:</h1>
                <div class="search-user-input">
                    <label for="searchInput">Search for:</label>
                    <input type="text" v-model="searchName" id="searchInput"></input>
                </div>
                <ul>
                    <li v-for="user in searchResults" v-bind:key="user">{{ user }}</li>
                </ul>
            </div>
        </main>

        <footer>
            <h4>{{ footerMessage }}</h4>
        </footer>
    </div>
<script type="text/javascript">
    const app = Vue.createApp({
        data() {
            return {
                navTitle: 'Vue Course',
                footerMessage: 'testdriven.io',
                newUser: '',
                users: [
                    'user1',
                    'user2',
                    'user3',
                    'user4',
                    'user5'
                ],
                usersTextColor: [
                    'black',
                    'black',
                    'black',
                    'black',
                    'black'
                ],
                displayUsers: false,
                displaySearch: false,
                searchName: ''
            };
        },
        computed: {
            searchTextClass() {
                if (this.searchName !== '') {
                    return 'searchTitleBold';
                } else {
                    return 'searchTitleNormal';
                }
            },
          numberOfUsersText() {
              if (this.users.length === 1) {
                  return 'There is 1 user.';
              } else {
                  return 'There are ' + this.users.length + ' users.';
              }
          },
          searchResults() {
              if (this.searchName !== '') {
                  return this.users.filter(el => el.match(this.searchName));
                } else {
                  return '';
              }
            }
        },
        methods: {
            toggleSearch() {
                this.displaySearch = !this.displaySearch;
            },
            changeDisplay() {
                this.displayUsers = !this.displayUsers;
            },
            addNewUser(newUserInput) {
                if (newUserInput !== '') {
                    this.users.push(newUserInput);
                    this.newUser = '';
                    for (let i = 0; i < this.users.length - 1 ; i++) {
                        this.usersTextColor[i] = 'black';
                    }
                    this.usersTextColor.push('darkgreen');
                }
            }
        }
    })
    const mountedApp = app.mount('#vue-app');

</script>
</body>

</html>
