<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue CRUD Course</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">

    <!-- <script src="https://unpkg.com/vue@3"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>

</head>
<body>
    <div id="vue-app">
        <header>
            <div class="title">
                <h1>{{ navTitle }}</h1>
            </div>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="add-user-input">

                <input type="text" v-model="newUser" placeholder="Enter new user"></input>
                <input type="submit" value="Add User" v-on:click="addNewUser(newUser)"></input>
            </div>
            <div class="list-users">
                <h1>List of Users:</h1>
                <ul>
                    <li v-for="(user, index) in users" v-bind:key="user">{{ index }}: {{ user }}</li>
                </ul>
            <h4>{{ numberOfUsersText }}</h4>
            </div>
        </main>

        <footer>
            <h4>{{ footerMessage }}</h4>
        </footer>
    </div>
<script type="text/javascript">
    const app = Vue.createApp({
        data() {
            return {
                navTitle: 'Vue Course',
                footerMessage: 'testdriven.io',
                newUser: '',
                users: [
                    'user1',
                    'user2',
                    'user3',
                    'user4',
                    'user5'
                ],
                displayUsers: false
            }
        },
        computed: {
          numberOfUsersText() {
              if (this.users.length === 1) {
                  return 'There is 1 user.'
              } else {
                  return 'There are ' + this.users.length + ' users.'
              }
          }
        },
        methods: {
            changeDisplay() {
                this.displayUsers = !this.displayUsers;
            },
            addNewUser(newUserInput) {
                if (newUserInput !== '') {
                    this.users.push(newUserInput)
                    this.newUser = ''
                }
            }
        }
    })
    const mountedApp = app.mount('#vue-app')

</script>
</body>

</html>
